@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-size: 100%;
    background: rgb(32, 15, 86);
    display: grid;
    grid-template-columns: 20% auto;
}

nav{
    background-color: #040517;
    width: 250px;
    height: 700px;
}
a {
    font-family: 'Montserrat', sans-serif;
    color: #e5e5e5e7; 
}

ul {
    padding-left: 50px;
    list-style: none;
    
}

.barraLateral {
    padding-top: 70px;
    display: flex;
    flex-direction: row;
    margin-left: 20px; 
}

.nome {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
}

.editP {
    padding-top: 10px;
    font-size: 10px;
}
.editImag {
    height: 10px;
    margin-left: 3px;
}
.imagemProfile {
    height: 90px;
    border-radius: 5%;
    margin-right: 10px;
}

.barraConteudo {
    display: flex;
    flex-direction: column;
    margin-top: 170px;
}
.barraConteudoBaixo {
    margin-top: 48px;
    display: flex;
    flex-direction: column;
}

.buscar {
    position: absolute;
    top: 20px;
    left: 300px;
    background: #040517;
    height: 40px;
    width: 500px;
    border-radius: 40px;
    padding: 10px;
}

.buscarBotao {
    float: right;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #040517;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buscarTxt {
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: rgb(212, 212, 212);
    transition: 0.4s;
    width: 240px;
}

body nav a:hover {
    color: #fff;
}

/*barra de rolagem*/
#items-wrapper {
    margin-top: 125px;
    width: 78vw;
}

.item img {
    width: 100%;
    height: 75%;
    border-radius: 8px; 
}

  #itens {
      display: flex;
      overflow-x: auto;
  }

  .item {
    flex: none;
    width: 23%;
    margin-right: 3%;
    margin-bottom: 30px;
  }

  .item:hover {
      height: 20%;
  }
 
      